@model Datwendo.ClientConnector.ViewModels.ClientConnectorPartEditViewModel
@using Datwendo.ClientConnector
@using Orchard.Utility.Extensions;

@if(Model.Settings.ConnectorId == 0) {
    <div class="message message-Error">@T("The current Content Type does not have a Connector Id. Please edit the settings first.")</div>
    return;
}
@if(string.IsNullOrEmpty(Model.Settings.SecretKey)) {
    <div class="message message-Error">@T("The current Content Type does not have a Secret Key. Please edit the settings first.")</div>
    return;
}

